= form_for(@housenumber) do |f|
  = f.hidden_field :changeset, type: "hidden"

  .field#housenumber
    = f.label :value, "House number"
    = f.text_field :value, placeholder: "e.g. 5435bis"

  .field.hint
    %label Fill the location in or slip the map

  .field#lat
    = f.label :latitude
    = f.text_field :latitude, placeholder: "e.g. -33.127803"

  .field#lon
    = f.label :longitude
    = f.text_field :longitude, placeholder: "e.g. -70.531570"

  .field#submit
    = f.submit "Submit!"

  .field#preview
    %button Preview
