= form_for(@housenumber) do |f|

  = render 'flashes'

  - if params[:house_number].nil?
    = f.hidden_field :changeset, type: "hidden", value: "default_changeset"
  - else
    = f.hidden_field :changeset, type: "hidden", value: "default_changeset", value: params[:house_number][:changeset]

  .field#housenumber
    -if @housenumber.errors[:value][0]
      = f.label :value, "House number " + @housenumber.errors[:value][0] + "!"
    - else
      = f.label :value, "House number"

    - if params[:house_number].nil?
      = f.text_field :value, placeholder: "e.g. 5435bis"
    - else
      = f.text_field :value, placeholder: "e.g. 5435bis",  value: params[:house_number][:value]

  .field.hint
    %label
      Fill the form  in, slip the map or
      = link_to "guess location", "#locate", id: "locate"
      !

  .field#lat
    = f.label :latitude
    - if params[:house_number].nil?
      = f.text_field :latitude, placeholder: "e.g. -33.127803"
    - else
      = f.text_field :latitude, placeholder: "e.g. -33.127803", value: params[:house_number][:latitude]

  .field#lon
    = f.label :longitude
    - if params[:house_number].nil?
      = f.text_field :longitude, placeholder: "e.g. -70.531570"
    - else
      = f.text_field :longitude, placeholder: "e.g. -70.531570", value: params[:house_number][:longitude]


  .field#submit
    = f.submit "Submit!"

  -# Javascript: location_helper
  .field.disabled#preview
    %button Preview
