= form_for(@housenumber) do |f|
  = f.label :changeset
  = f.text_field :changeset

  = f.label :latitude
  = f.text_field :latitude

  = f.label :longitude
  = f.text_field :longitude

  = f.label :value
  = f.text_field :value

  = f.submit
