%head
  %meta{ :charset => "utf-8" }/

  -# Use the .htaccess and remove these lines to avoid edge case issues.
  -# More info: h5bp.com/b/378
  %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }/

  %title
    OpenStreetMap House Number Editor
    -#== #{ controller.controller_name.titleize } - #{ controller.action_name.titleize }

  %meta{ :name => "description", :content => "" }/

  -# Mobile viewport optimized: h5bp.com/viewport
  %meta{ :name => "viewport", :content => "width=device-width, target-densitydpi=device-dpi" }/

  -# See https://developer.apple.com/library/safari/#documentation/appleapplications/reference/safariwebcontent/configuringwebapplications/configuringwebapplications.html
  %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
  -# Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons
  <!-- For third-generation iPad with high-resolution Retina display: -->
  %link{ rel: "apple-touch-icon", sizes: "144x144", href: image_path("shared/apple-touch-icon-144x144.png")}
  <!-- For iPhone with high-resolution Retina display: -->
  %link{ rel: "apple-touch-icon", sizes: "114x114", href: image_path("shared/apple-touch-icon-114x114.png")}
  <!-- For first- and second-generation iPad: -->
  %link{ rel: "apple-touch-icon", sizes: "72x72", href: image_path("shared/apple-touch-icon-72x72.png")}
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  -# Android will pick the first one with no size attribute
  %link{ rel: "apple-touch-icon-precomposed", href: image_path("shared/apple-touch-icon-precomposed.png")}
  -# Others will pick the last defined one
  %link{ rel: "apple-touch-icon", href: image_path("shared/apple-touch-icon.png")}


  = render "stylesheets"

  -# More ideas for your <head> here: h5bp.com/d/head-Tips

  %link{ rel: "shortcut icon", href: image_path("shared/favicon.png"), type: "image/png"}

  -# All JavaScript at the bottom, except polyfills
  = javascript_include_tag "polyfills"

  = csrf_meta_tag
